* {
  /* border: 1px solid red; */
}
main {
  min-height: 100vh;
  overflow-y: visible;
  background-color: var(--gray5);
}
.subheading{
  width:100%;
  padding: 20px 0 50px 0;
  color: var(--gray1);
  text-align: center;
}
.container{
  margin:50px auto;
}
.caption{
  width:80%;
  margin: auto;
}
 