---

---

<section class="comparison">
  <div class="comparison-video-wrapper">
    <video
      src="https://pub-fa810e0d43204e26baa3ea906dc3c529.r2.dev/comp.mp4"
      autoplay
      loop
      muted
      playsinline></video>
  </div>
</section>

<style>
  .comparison {
    width: 100%;
  }
  .comparison-video-wrapper {
  width: clamp(320px, 80vw, 960px);
  aspect-ratio: 16 / 9;
  margin: auto;
  background: #000;
  overflow: hidden;
  }

  .comparison-video-wrapper video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>
