<section class="section">
  <div class=" wrapper">
    <div class=" title">
      <h2>Title</h2>
      <h6>Caption</h6>
    </div>

    <div class="content">
    </div>
  </div>
</section>

<style>
    .section{
  background: var(--gray-200);
    }
</style>